/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#index-banner {
  background-color:#F2EFFF;

  /* gradient
  background: rgb(255,0,0);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255,0,0)), to(rgb(255,225,0)));
  background: -webkit-linear-gradient(rgb(255,0,0) 0%, rgb(255,225,0) 100%);
  background: -moz-linear-gradient(rgb(255,0,0) 0%, rgb(255,225,0) 100%);
  background: -o-linear-gradient(rgb(255,0,0) 0%, rgb(255,225,0) 100%);
  background: linear-gradient(rgb(255,0,0) 0%, rgb(255,225,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffe100',GradientType=0 );
  */
}

.currency-container {
  padding-bottom:40px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number-decrement,
.input-number-increment,
.input-number-bankroll-decrement,
.input-number-bankroll-increment {
  border: 1px solid #ccc;
  height: 40px;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.input-number-decrement,
.input-number-increment,
.input-number-bankroll-decrement,
.input-number-bankroll-increment {
  display: inline-block;
  width: 35px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active,
.input-number-bankroll-decrement:active,
.input-number-bankroll-increment:active {
  background: #ddd;
}

.input-number-decrement,
.input-number-bankroll-decrement {
  /*border-right: none;*/
  border-radius: 4px 0 0 4px;
}

.input-number-increment,
.input-number-bankroll-increment {
  /*border-left: none;*/
  border-radius: 0 4px 4px 0;
}

footer.page-footer {
	margin-top:0px;
}

#copyright {
  position:absolute;
  bottom:60px;
  margin-left:14px;
}



/* INPUT radio */
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  padding-left:25px;
}

.radio-container {
  margin: 0px 25px 15px 25px;
}